//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff; 

// resolutions

$phones: 480px;
$tablets: 768px;
$desktop: 1200px;

//normalize
@import "_misc/normalize.scss";


@import "_misc/fonts.scss";
@import "_misc/media.scss";
@import "_misc/mixins.scss";
@import "_misc/layot.scss";

@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/team.scss";
@import "blocks/team-acco.scss";
@import "blocks/menu.scss";
@import "blocks/menu-acco.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss"; 
@import "blocks/socials.scss";  
@import "blocks/hamburger-menu-link.scss";  
@import "blocks/order.scss";  
@import "blocks/slider.scss";  
@import "blocks/fullscreen-menu.scss";
@import "blocks/overlay.scss";
@import "blocks/video.scss"