.fullscreen-menu {
  display: none;
  justify-content: space-between;
  position: fixed;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black;
  color: $white;
  z-index: 20;
  opacity: 0;
}

.fullscreen-menu__logo{
  width: 86px;
  height: 64px;
}

.fullscreen-menu-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.fullscreen-menu-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: rem(18px);
 
  // @include tablets {
	// 	display: none;
	// }

  &:after {
    content: "";
    width: rem(5px);
    height: rem(5px);
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin: rem(15px) 0;
  }

  &:nth-last-child(1) {
    &:after {
      display: none;
    }
  }
}

.fullscreen-menu-nav__link {
  text-decoration: none;
  color: $white; 
  font-size: rem(14px);
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;

  &:hover {
    color: $orange;
  }
  
}

.fullscreen-menu__close {
  
  width: 25px;
  height: 25px;

  margin-top: 10px;
  margin-right: 10px;
  
  transform: rotate(45deg);
  
}

.fullscreen-menu__close-icon {
  width: 20px;
  height: 4px;
  background-color: $white;
  border-radius: 50%;
  position: relative;
 
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}