.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: rem(18px);
 
  @include tablets {
		display: none;
	}

  &:after {
    content: "";
    width: rem(5px);
    height: rem(5px);
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin-left: rem(15px);
  }

  &:nth-last-child(3) {
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $white; 
  font-size: rem(13px);
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;

  &:hover {
    color: $orange;
  }
  
}

.nav__order {
margin-left: rem(15px);
margin-right: rem(15px);
}

.nav__ham-menu {
 display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
  }
}

.nav__menu-line {
  width: rem(24px);
  height: rem(3px);
  background-color: $white;
  background-repeat: 30%;
  margin-bottom: rem(5px);
}
