.burgers{
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);

}

.slider__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablets {
    // flex-direction: column;
    // max-width: 80%;
    align-items: center;
    justify-content: center;
  }
}

.slider__scroll {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer; 
  

}

.slider__btn {
  width: rem(29px);
  height: rem(15px);
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-size: contain;
  }

  .arrow--left {
    transform: rotate(90deg);
  }

  .arrow--right {
    transform: rotate(-90deg); 
  }

  .slider__item {
    display: flex;
    flex-direction: row;
    // opacity: 0.5;

    @include tablets {
      flex-direction: column;
      max-width: 70%;
    //   align-items: center;
    //   justify-content: center;
    }

    @include phones {
      max-width: 100%;
      // padding: rem(10px) 0;
    }
  }

  .slider__photo {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    @include tablets {
      justify-content: center;
      align-items: flex-end;
    }

    @include phones {
      padding-top: rem(60px);
    }
  }

  .slider__title, .slider__text, .slider__price{

    @include tablets {
      text-align: center;
    }
  }

  .slider__title {
    @include phones {
      font-size: rem(40px);
    }
  }
  

  .slider__desc {
    width: 100%;
  }
  
  .slider__img {
    max-width: 100%;

    @include phones {
      max-width: 80%;
    }

    
  }

  .slider__consist {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: rem(14px) rem(22px);
    // width: 90px;
    // height: 90px;
    background-color: $orange;
    border-radius: 3px;
    opacity: 0.4;

    @include phones {
      padding: rem(10px) rem(16px);
    }
  }

  .slider__consist:hover ~ .slider__consist-hover {
    // display: flex;
    opacity: 0.9;
    transition: opacity 1s;
  }

  .slider__consist-hover {
    position: absolute;
    display: flex;
    left: rem(90px);
    top:0;    
    background-color: $white;
    opacity: 0;
    transition: opacity 1s;
    
  }

  .slider__consist-item {
    display: flex;
    flex-direction: row;
    width: rem(230px);

    @include phones {
      width: (160px);
    }

    margin-top: rem(15px);
    &:first-child {
      margin-top: 0;
    }


  }
  .slider__consist-svg  {
    width: rem(44px);
    height: rem(40px);
  }

  .slider__consist {
    &-list {
      padding: 20px;
    }
    &-ingridient {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      align-items: center;
      margin-left: rem(23px);
      @include phones {
        margin-left: rem(10px);
      }
      // width: 100%;
    }
    &-ingname{
      @include ubuntu(medium);
      font-size: rem(14px);
    }
    &-weight{
      @include ubuntu(light);
      font-size: rem(14px);
    }
  }



  .slider__energy {
    position: absolute;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    // padding: rem(14px) rem(22px);
    // background-image: url("/../img/icons/slider.svg#kkal");
    background-image: url("../img/icons/kkal.svg"); //почему не работает из спрайта
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;
    width: rem(60px);
    height: rem(60px);
    // background-color: $orange;
    // border-radius: 3px;
    opacity: 0.5; 

    @include tablets { 
     top: 0;
     right: 0;
     left: 90%;
    }
  }

  .slider__energy-value {
    margin-top: rem(22px);
    @include gagalin(); 
  font-size: rem(20px);
  color: $white;

  // line-height: 1;
  }

  .slider__energy-unit {
    margin-top: rem(10px);
    @include gagalin();
  font-size: rem(14px);
  color: $white;
  // line-height: 1;
  }

  



  .slider__svg-burger {
    width: rem(46px);
    height: rem(44px);
  }

  .slider__consist-name {
    @include gagalin();
  font-size: rem(14px);
  color: $white;
  // line-height: 1;
  }

  .slider__text {
    margin-top: 56px;
    @include ubuntu(light);
	  font-size: rem(14px);
    color: $white;
    line-height: rem(24px);

    @include phones {
      margin-top: rem(10px);
    }
	  // margin-bottom: rem(14px);
  }

  .slider__price-value {
    display: inline-block;
    @include gagalin();
  font-size: rem(72px);
  color: $orange;
  @include phones {
    font-size: rem(40px);
  }
  // line-height: 1;
  }

  .slider__price-currency {
    display: inline-block;
    @include gagalin();
  font-size: rem(30px);
  color: $orange;

  @include phones {
    font-size: rem(20px);
  }
  }

  .slider__button {
    margin-left: rem(29px);
  }


