.map__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.map__yandex {
  width: 100%;
  // height: 100%;
  flex-grow: 3;
  // background-image: url("../img/bg/map.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center; 
  // position: relative; 
}