.menu {
  background-image: url("../img/bg/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
}