.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 18px;

  &:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
  }

  &:nth-last-child(2) {
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $white;
  font-size: 13px;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover {
    color: $orange;
  }
  
}
