.reviews__popup {
  display: none;
  // position: relative;
  // opacity: 0.5; 
}

.order__popup {
  display: none;
  // opacity: 0.5; 
}


.overlay__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: $black;
  background: rgba($black, .5); 
  color: $white;
  // z-index: 20;
  
}

.overlay__content{
  background-color: $white;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  // flex-basis: auto; 
  opacity: 1;
  max-width: 50%;
  position: relative;
  padding: rem(10px);
  // max-height: 200px;
  // z-index: 10000;
}

.overlay__close {
  
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;

  margin-top: 5px;
  margin-right: 5px;
  
  transform: rotate(45deg);
  
}

.overlay__close-img {
  width: 20px;
  height: 4px;
  background-color: $orange;
  border-radius: 50%;
  position: relative;
 
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: $orange;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.overlay__title {
  @include gagalin();
  font-size: rem(14px);
  color: $black;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 25px;
  margin-left: 10px;
}

.overlay__text {
  @include ubuntu();
  font-size: rem(14px);
  color: $black;
  text-align: center;
  margin-bottom: 5px;
}